########################################
## Example Refrapt configuration file ##
########################################
# Inline comments are supported

##############
## SETTINGS ##
##############
# Each of the settings here are based on the default settings in Refrapt. If the values are
# not specified in this file, the default in Refrapt will be used instead.

# This is the default Architecture to be used if one is not specified in for a Repository.
set architecture       = i386

# For each of the path variables, if not specified, will be found in ~/refrapt
# The root path for log files and the configuration file.
# set rootPath   = ""
# The directory where the mirror will be stored. This will be the larget directory, so use a large drive!
# set mirrorPath = ""
# Directory used for intermediate Index files. Recommend using an SSD for best performance during the building of file lists.
# set skelPath   = ""
# Directory used for storing log files and lock files. Recommend using an SSD for best performance.
# set varPath    = ""

# Specify whether the Contents-[arch].* files should be downloaded.
set contents           = True
# The number of threads to use for download and decompression. 
# If not specified here, Refrapt will get the number available from the machine.
set threads            = 6
# Specify whether to add the --auth-no-challenge parameter to Wget.
set authNoChallenge    = False
# Specify whether to add the --no-check-certificate parameter to Wget.
set noCheckCertificate = False
# Specify whether to add the --unlink parameter to Wget.
set unlink             = False
# Specify whether you are using a proxy for Wget.
set useProxy           = False
# The HTTP proxy to use. useProxy setting must be True.
set httpProxy          = ""
# The HTTPS proxy to use. useProxy setting must be True.
set httpsProxy         = ""
# The name of the proxy user. useProxy setting must be True.
set proxyUser          = ""
# The password of the proxy user. useProxy setting must be True.
set proxyPass          = ""
# The SSL certificate to pass to Wget.
set certificate        = ""
# The SSL certificate to pass to Wget.
set caCertificate      = ""
# The SSL key to pass to Wget.
set privateKey         = ""
# Set the --limit-rate value for each Wget instance. 
# Note that this will be multipled by the number of threads specified.
# See Wget manpage for correct syntax
set limitRate          = 500m # 500 MB
# Limits the download of Translation files for that of your locale. When not specified, Refrapt will default to locale.getdefaultlocale().
# Note that "_XX" languages will be stripped of the locale to collect a wider number of files. Ie "en_GB" becomes "en", which will capture 
# files with the same base language, but different locales.
# Multiple Languages can also be listed in a comma separated list; for example "en_GB, de_DE".
# set language           = "en_GB"
# Tell Refrapt to update all files, regardless of whether they are deemed to have changed or not.
# Note that if Wget determines the files are unchanged (via Timestamping), this will have no effect.
# The use of this should be limited for when you know a package has changed, but the size has not 
# (which is how Refrapt determines whether the file needs updating)
set forceUpdate        = False
# The log level to use for the application. Possible values are:
# DEBUG
# INFO
# WARNING
# ERROR
# CRITICAL
set logLevel           = INFO
# Will cause Refrapt to only process the Index files, and determine the list of Binary / Sources files to download, 
# and their size, but will not perform the main download. Useful for determining a potential download size before
# committing to it.
set test               = False
# Specify whether Refrapt should download the /by-hash/* directories and contents for each available checksum.
set byHash             = False
# Specify whether to disable Cleaning for all mirrors in this configuration file.
set disableClean       = False
# Set to True to disable progress bars
set disableProgress    = False

#####################
## REPOSITORY LIST ##
#####################
# Define each of the Repositories which you wish to mirror.
# Multiple architectures can be specified per mirror, as well as multiple components

# Simple multi-component mirror
# deb [arch=amd64] http://gb.archive.ubuntu.com/ubuntu focal main restricted universe multiverse

# Multi-architecture mirror
# deb [arch=amd64,i386,armhf] https://repos.influxdata.com/debian buster stable

# Source mirror
# deb-src http://gb.archive.ubuntu.com/ubuntu focal main

# Flat repository
# deb http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64

###################
## DISABLE CLEAN ##
###################
# Cleaning of unrequired files is enabled by default. To prevent cleaning 
# a particular directory, add the following command

# clean=False deb http://gb.archive.ubuntu.com/ubuntu
